{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="form-card">
    <h1>Create Job</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Job Title">
        <input type="text" name="company" placeholder="Company">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="salary" placeholder="Salary">
        <textarea name="description" placeholder="Description"></textarea>

        <button class="apply-btn" type="submit">Create</button>
    </form>
</div>