{% extends 'base.html' %}
{% block content %}

<div style="display:flex; justify-content:center; align-items:center; height:80vh;">

<div style="
    width:360px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
">

    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" style="width:120px;height:120px;border-radius:50%;object-fit:cover;">
    {% else %}
        <img src="https://via.placeholder.com/120" style="border-radius:50%;">
    {% endif %}

    <h2>{{ request.user.username }}</h2>
    <p>{{ request.user.email }}</p>
    <p>{{ profile.mobile }}</p>
    <p>{{ profile.dob }}</p>

  <button type="button" onclick="toggleEdit()">
    Edit Profile
</button>

<form id="edit" method="POST" enctype="multipart/form-data" style="display:none; margin-top:10px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<script>
function toggleEdit(){
    var form = document.getElementById("edit");
    if(form.style.display === "block"){
        form.style.display = "none";
    } else {
        form.style.display = "block";
    }
}
</script>

</div>

</div>

{% endblock %}

